body{
    background-color: #9d5326;
    font-family: 'Times New Roman', Times, serif;
    color: #f3c33b;
    font-size: 20px;
}

h1{
    color: #f3c33b;
    font-size: 40px;
    overflow: auto;
}

#logo{
    float: right;
    width: 100px;
    height: 100px;
}